
/* giveaway --B */
.ad-free-shopping,
.free-orders-wrap{

	display: none!important;
}
.footer1-mod .link-mod li .giveaway-go-link:last-of-type {
    color: #00ade5;
}

.footer1-mod .link-mod li .giveaway-go-link:last-of-type:hover {
    text-decoration: underline;
}

.footer-cate .giveaway-go-link .item-box a {
  color: #00ade5;
}

.footer-cate .giveaway-go-link .item-box a:hover {
  text-decoration: underline;
} 

 /* giveaway --E */



.festival .free-orders-wrap a:hover{
	border-bottom:1px solid ;
	text-decoration:none;
}
.festival .free-orders-wrap a b{
	font-size:10px;
}


 /* father's day --E */

/* shipping info --B*/
.festival .free-orders-wrap  .red-new{
	margin-right:10px;
	top:-3px;
	max-width:58px;

}


.festival .red-new{
	position:relative;
}

.mobile-body .festival .red-new{
	max-width:0.86rem;
	margin-right:0.1rem;
	top:-0.03rem;
}
.mobile-body .festival  a{
	margin-left:0.1rem;
    margin-right: 0.1rem;
}


.festival  a{
	color:#eb1478;
}
.festival.give-ad .free-orders-wrap a{
	margin-left: 5px;
	margin-right: 5px;
}
/* shipping info --E*/

@media screen and (max-width: 1199px) {
	.ad-father-day.en ,.ad-father-day.de{
		background: none;
	}

	.ad-father-day{
		padding: 0 ;
	}
	
}

/* notcie-cookies --B*/

.notice-cookies {
	margin: 0 auto;
	padding: 7px 15px;
	box-sizing: border-box;
	text-align: center;
	font-family: quicksand;
	font-weight: 500;
	color: #fff;
	background-color: #333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.notice-cookies.hide {
	display: none !important;
}

.notice-cookies-container {
	position: relative;
	box-sizing: border-box;
	width: 100%;
}

.notice-cookies-content {
	display: inline-block;
	line-height: 1.4;
}

.notice-cookies-words {
	margin-right: 10px;
}

.notice-cookies-link {
	color: #00ade5;
	white-space: nowrap;
}

.notice-cookies-link:hover,
.notice-cookies-link:active {
	text-decoration: underline;
	color: #00ade5;
}

.notice-cookies-arrow {
	font-size: 12px;
	transform: scale(0.8);
	display: inline-block;
	vertical-align: middle;
}

.notice-cookies-close {
	margin: 0;
	margin-left: 10px;
	cursor: pointer;
	padding: 0 12px;
	height: 26px;
	line-height: 24px;
	background-color: #fff;
	border-radius: 30px;
	color: #333;
	display: inline-block;
	border: 1px solid transparent;
}

.notice-cookies-close:hover {
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}

.notice-cookies-words,
.notice-cookies-link,
.notice-cookies-close {
	font-size: 16px;
}


/* argus-giveaway tips */
.free-orders-wrap:empty,
.festival-shipping-content.festival:empty{
	display:none;
}
.give-ad span,.give-ad a{
	color: #ef4446;
}


  .free-orders-wrap div:nth-child(2){
	margin-left: 30px;
	margin-right: 30px;
	text-align: left;
	color: #333;
	line-height: 1.5;
  }
  .ad-free-shopping.give-ad{
	color: #333;
  }
  .give-ad a{
	display: inline-block;

  }
  .give-ad a:hover{
	text-decoration: underline;
  }
  .mobile-body .give-ad b{
	font-size: 0.18rem;
    transform: scale(0.8) ;
	display: inline-block;
  }

 html[lang='de-DE'] .mobile-body  .shipping-des-less{
	width: 7rem;
    margin: 0 auto;
 }
 .mobile-body .shipping-des-less .icon-icon_shipping{
	font-size: 0.5rem;
    line-height: 0;
    vertical-align: middle;
 }
 .give-ad em:hover{
	 cursor: pointer;
 }
  @media screen and ( max-width: 400px) {
	.mobile-body .give-ad b{
		font-size: 0.15rem;
		vertical-align: middle;
	  }
   }
  .festival.give-ad  .free-orders-wrap a{
	  color:#ef4446; 
  }
.festival.give-ad .free-orders-wrap a{
	border-bottom: 1px solid transparent;
	color: #ef4446;
}
.festival.give-ad .free-orders-wrap a:hover{
	border-bottom: 1px solid #ef4446;;
}
  .mobile-body .give-ad{
	font-size: 0.22rem;
	position: relative;
	margin: 0 auto;
	text-align: center;
  }
  .mobile-body .give-ad div:nth-child(3){
	position: absolute;
	top: 0.1rem;
	 left: 0.78rem;
  }
  .mobile-body .give-ad div:nth-child(3) img{
	display: none;
  }
  .mobile-body .give-ad img:nth-child(1){
	max-width: 0.63rem;
	margin-right: 0.15rem;
  }
  .pc-body .give-new-png{
	  max-width: 61px;
	  margin-right: 10px;
  }
   /* father's day start */

.gift-for-dads {
	padding: 7.5px 21.5px;
	color: white;
	position: absolute;
	z-index: 1;
	font-size: 14px;
	font-weight: 500;
	font-family: quicksand;
	display:  table;
	line-height: 1;
	right: 158px;
	top:0;
	background-image:url('https://cdn.reolink.com/wp-content/uploads/2018/02/prime-day-shop.png');
	border-radius: 100px;
 }
 .mobile-body .gift-for-dads{
	 position: relative;
	 top: auto;
	 right: auto;
	 left: -0.1rem;
 }
.shop-product-label + .gift-for-dads{
	top: 54px;
}

.ui-product-flag:not(.hide) + .list-img  .gift-for-dads{
	margin-top: 0.4rem;
}
.give-ad em{
	position:absolute;
	right:0;
	top:0;
	color:inherit;
	font-size: 24px;
}
.mobile-body .give-ad em{
	font-size:0.4rem;
}

.prime-ad img{
	margin-right: 5px;
}
.prime-ad  .free-orders-wrap{
	padding: 0;
}

.mobile-body .prime-ad  .shipping-des-less{
	text-align: left;
	text-indent: 0.8rem;
}
.mobile-body .prime-ad  a{
	text-indent: initial;
}
.mobile-body .give-ad.prime-ad  img:nth-child(1){
	max-width: 0.94rem;
	position: absolute;
    top: 0;
    left: 0.1rem;
}
html[lang='en-US'] .mobile-body .prime-ad .shipping-des-less{
	padding-left: 15px;
	padding-right: 15px;
	text-indent: 0.9rem;
}
html[lang='de-DE'] .mobile-body .prime-ad a{
	margin-left: 0;
	vertical-align: middle;
}


.pc-body #container .publicity-mod .two-content .product-img{
	height: 203px;
	line-height: 203px;
}
.pc-body #container .publicity-mod,.pc-body #container .publicity-mod .two-content{
	box-sizing: border-box;
}
.pc-body #container .publicity-mod .new{
	line-height: 27px;
}

/* 隐藏google-box */
.google-alexa-box.product-smarthome-box{
	display: none !important;
}

/* 补差价页面隐藏支付选项框 */
.price-difference .large-5.columns #payment-choice {
	display: none !important;
}
.price-difference .large-5.columns .form-row.place-order {
	padding-top: 0 !important;
}

/* switch-content-video start */
/* .switch-content-popup-video .youtube-static-imgs-box > .img-icon-box:nth-of-type(2){
	position: absolute;
	margin-left: 15px;
	right: 0;
	top: 0;

} */

/* work-with-cloud start */
.pc-body .work-with-mod.work-with-mod {
    display: flex;
    align-items: center;
}

.pc-body .work-with-cloud .pc-phone.pc-phone {
    width: 50%;
}

.pc-body .work-with-cloud .details.details {
    left: 50%;
    position: absolute;
    text-align: left;
}
